.CategoryButton {
    color: white;
    background-color: #3f4e6d;
    border-radius: 0.5em;
    padding: 0.5em;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.CategoryButton:hover {
    background-color: #4b5f86;
}

.CategoryButton:hover {
    cursor: pointer;
}

.SelectedButton {
    background-color: #4169b8;
}

.SelectedButton:hover {
    background-color: #4e78cc;
}

