.Header {
    background-color: #21242b;
    color: #e6e6e6;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    padding-left: 2em;
}

.Title {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}