.TextComponent {
    max-width: min(95vw, 60em);
    min-width: 10em;
    padding: 1.5em;
    display: inline-block;
    background-color: #343944;
    color: white;
    border-radius: 0.75em;
    margin: 0.5em;
}

.TextWrapper {
    float: left;
    width: calc(100% - 3em);
    min-height: 2em;
    max-height: 10em;
    overflow-y: scroll;
    padding-right: 0.5em;
    border-radius: 0.5em;
    white-space: pre-wrap;
}

.CopyButtonWrapper {
    float: right;
}