#header {
    width: 100%;
    height: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: rgb(35, 35, 45);
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
}
table {
    font-size: 1em;
}
li + li {
    margin-top: 1em;
}
strong {
    /* text-shadow: 0px 0.25px, 0.25px 0px, 0.25px 0px; */
}
img {

}
a {
    /* white-space: nowrap; */
    word-wrap: normal;
}
.image {
    border-radius: 1em;
    outline-style:solid;
    outline-color:rgba(0,0,0,0.1);
    outline-width: 0.25em;
}

.header-element {
    transition: 0.2s all;
    margin-right: 1em;
}

.header-title {
    font-family: 'Maven Pro', sans-serif;
    color: rgb(225, 225, 225);
    font-weight:bold;
    margin-left: 1.5em;
}

.header-button {
    color: rgb(100, 100, 115);
    font-size: 1.3em;
    margin-bottom: 0.9em;
    text-decoration: none;
}

.header-button:hover {
    color: rgb(200, 200, 200);
}

.header-button:active {
    color: rgb(255, 230, 150);
}

#body-wrapper {
    height: calc(100% - 3em);
    top: 3em;
    margin: 0;
    position: absolute;
    overflow-y: scroll;
}
#links {
    display: inline-block;
}

#teaching-images-wrapper {
    display: flex;
    flex-direction: column;
    float:right;
}
.project-wrapper {
    width: 22em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    text-align: center;
    color: rgb(230, 230, 255);
    transform: scale(0.9);
    transform-origin: 50% 0;
}
@media only screen and (max-width:370px) {
    .image {
        font-size: 0.7em;
    }
}
@media only screen and (max-width:435px) {
    .image {
        font-size: 0.8em;
    }
}
@media only screen and (max-width:720px) {
    #body-wrapper {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    #intro-wrapper {
        display:flex;
        flex-direction: row;
        justify-content: center;
        word-break:keep-all;
    }
    #intro-wrapper a {
        white-space: nowrap;
    }
    #links {
        display: none;
    }
    #teaching-images-wrapper {
        float:none;
    }
    #teaching-wrapper {
        flex-direction: column-reverse;
        display: flex;
    }
    .table-year {
        padding-right: 0em;
    }
    .project-wrapper {
        transform: scale(0.75);
    }
}
@media only screen and (min-width:721px) {
    #body-wrapper {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    #intro-wrapper {
        display:flex;
        flex-direction: row;
    }
    #teaching-wrapper {
        display: inline-block;  
    }
    .table-year {
        padding-right: 3em;
    }
}
#project-wrapper {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.main-wrapper {
    position: absolute;
    width: calc(100% - 7.5em);
    padding-left: 4.5em;
    padding-right: 3em;
    padding-bottom: 3em;
    left: 0;
    height: calc(100% - 3em);
    top: 0;
    overflow-y: auto;
    z-index: 0;
    opacity: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text {
    font-family: 'Maven Pro', sans-serif;
    color: rgb(225, 225, 225);
    font-size: 1.2em;
}
.noselect {
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
    background-color: rgb(50, 50, 70);
    color: rgb(225, 225, 225);
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
}

.transition {
    transition: 0.2s all;
}

.onload-transition {
    transition: 0.5s all ease, color 1ms, width 1ms;
}

/* .project-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
} */

.image-slideshow-wrapper {
    overflow: hidden;
    width: 400px;
    height: 225px;
    position: relative;
    left: calc(50% - 200px);
}

.image-slideshow-left-arrow {
    height: inherit;
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 0;
}

.image-slideshow-right-arrow {
    height: inherit;
    width: 50px;
    z-index: 2;
    position: absolute;
    right: 0;
}

.image-slideshow-button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
}

.image-slideshow-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-slideshow-button:active {
    background-color: rgba(0, 0, 0, 0.75);
}

.slideshow-img {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    transition: 0.5s all;
}

#project2-img-1, #project3-img-1 {
    left: 0;
}

#project2-img-2, #project3-img-2 {
    left: calc(560px * 1);
}

#project2-img-3, #project3-img-3 {
    left: calc(560px * 2);
}

#project2-img-4, #project3-img-4 {
    left: calc(560px * 3);
}

#project2-img-5, #project3-img-5 {
    left: calc(560px * 4);
}


#header-toggle-wrapper {
    position: absolute;
    left: 1em;
    opacity: 1;
    z-index: 10;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgb(72, 72, 100);
    margin-top: 2em;
    margin-bottom: 2em;
}

.courses-table {
    font-size: 100%;
    font-weight:lighter;
}

th {
    text-align: left;
    font-weight:normal;
    padding-left: 2em;
}

.blank-row {
    height: 5px !important;
}

.blank-col {
    line-height: 0;
    height: 5px !important;
}

a {
    color: rgb(255, 255, 255);
}

h3 {
    margin-top: 1.25em;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.song-wrapper {
}

.song-lyrics-wrapper {
    display: inline-block;
    float: left;
    padding: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0.5em;
    
}

.song-lyrics-wrapper > p {
    font-size: 1em;
}